body {
    background-color:;
    /*background-image: url(bgimg1.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;*/
}
button {
    border: 0px;
    background-color:white;
    color:;
    
}
table {
    background-color:;
}
.firstdiv {
 width: 90%;
 padding: 30px;
 margin: 20px;
 box-shadow: 10px 10px 5px gray;
}
.nextbutton {
    color:;
    float: right;
 
}
.backbutton {
    color:;
    float: left;
}
.headerbtn{
    text-shadow: 0px 0px red;
    background-color:;
    border-radius: 4px;
    border: 0px solid black;
    box-shadow: 7px 7px 5px gray;
      
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: red;
}
a:active {
    text-decoration: underline green;
}
span{
    float: right;
}
.edu {
    width: 150px;
    background-color:;
    text-align: center;
}
